{
  "presets": [
    ["env", {
      "modules": false,
        "targets": {
          "browsers": [
            "last 2 chrome versions"
          ]
        }
    }],
    "react"
  ],
  "plugins": [
    "loadable-components/babel",
    "styled-jsx/babel",
    "transform-runtime",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
