# Render a root router in sub directory
export ROUTER_BASEPATH=

export GENERATE_SOURCEMAP=

#  Syncano instance attached to project
export SYNCANO_PROJECT_INSTANCE=

# Website url needed to setup service worker
export PUBLIC_URL=

# Bug tracking
export SENTRY_DSN=
export SENTRY_AUTH_TOKEN=
export SENTRY_ORG=
export SENTRY_PROJECT=
